TOKEN=SEU_TOKEN_AQUI
CLIENT_ID=SEU_CLIENT_ID_AQUI
GUILD_ID=SEU_GUILD_ID_AQUI

# IDs dos cargos/canais
ADMIN_ROLE_ID=ID_DO_CARGO_ADM
OWNER_ROLE_ID=ID_DO_CARGO_DONO
ADMIN_CHANNEL_ID=1499185323295506563
TICKET_CATEGORY_ID=ID_DA_CATEGORIA_TICKETS
FILA_CATEGORY_ID=ID_DA_CATEGORIA_FILAS
